.pwa-pull-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.66em;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  background: var(--secondary);
  transition: opacity 0.3s ease;

  &.ready {
    .pwa-loader-content {
      .pwa-loader-arrow {
        transform: rotate(135deg);
      }
    }
  }
  
  &.loading {
    z-index: z("header") + 1;
    .pwa-loader-content {
      .pwa-loader-spinner {
        opacity: 1;
        animation: spin 1s linear infinite;
        position: absolute;
      }
      .pwa-loader-arrow {
        opacity: 0;
      }
    }
  }

  .pwa-loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .pwa-loader-spinner {
      width: 20px;
      height: 20px;
      border: 3px solid var(--primary-medium);
      border-top-color: transparent;
      border-radius: 50%;
      opacity: 0;
      transform: scale(0.8);
      transition: opacity 0.2s ease, transform 0.2s ease;
    }
    
    .pwa-loader-arrow {
      width: 12px;
      height: 12px;
      border: 3px solid var(--primary-medium);
      border-left: 0;
      border-bottom: 0;
      transform: rotate(-45deg);
      transition: transform 0.2s ease;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
