.pwa-pull-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.66em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  background-color: #{$loader-background};
  transition: opacity 0.3s ease;

  // ipad has footer nav on top
  html.footer-nav-ipad & {
    top: var(--footer-nav-height);
    &.loading {
      top: 0;
    }
  }
  
  &.loading {
    position: relative; // keep on top
  }

  &.ready {
    .safari-spinner.spinning {
      animation: spin 3s linear infinite; // slow spinning
    }
    &.loading {
      .safari-spinner.spinning {
        animation: spin 1s linear infinite; // fast spinning
      }
    }
  }
}

.spinner-line {
  transition: opacity 0.2s ease;
}

.safari-spinner {
  width: 48px;
  height: 48px;
  will-change: transform;
  transition: transform 0.3s ease;
  
  &.spinning {
    .spinner-line {
      animation: highlightLine 2s ease-out infinite;
      .pwa-pull-loader.loading & {
        animation: highlightLine 1s ease-out infinite;
      }
      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 0.25s;
        .pwa-pull-loader.loading & {
          animation-delay: 125ms;
        }
      }
      &:nth-child(3) {
        animation-delay: 0.5s;
        .pwa-pull-loader.loading & {
          animation-delay: 250ms;
        }
      }
      &:nth-child(4) {
        animation-delay: 0.75s;
        .pwa-pull-loader.loading & {
          animation-delay: 375ms;
        }
      }
      &:nth-child(5) {
        animation-delay: 1s;
        .pwa-pull-loader.loading & {
          animation-delay: 500ms;
        }
      }
      &:nth-child(6) {
        animation-delay: 1.25s;
        .pwa-pull-loader.loading & {
          animation-delay: 625ms;
        }
      }
      &:nth-child(7) {
        animation-delay: 1.5s;
        .pwa-pull-loader.loading & {
          animation-delay: 750ms;
        }
      }
      &:nth-child(8) {
        animation-delay: 1.75s;
        .pwa-pull-loader.loading & {
          animation-delay: 875ms;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes highlightLine {
  0%, 80%, 100% { opacity: 0.2; } // low visibility for most of the cycle
  5%, 10%, 15% { 
    opacity: 0.75; // transitioning to highlight
  }
  12%, 13%, 14% { 
    opacity: 0.85; // full highlight
  }
  15%, 16% { 
    opacity: 0.8; // slight reduction from full highlight
  }
  17%, 18% { 
    opacity: 0.75; // further reduction
  }
  19%, 20% { 
    opacity: 0.65; // transitioning back to low visibility
  }
  21%, 25% { 
    opacity: 0.5; // smoother transition
  }
  26%, 75% { 
    opacity: 0.35; // slightly more visible than 0.2 for depth
  }
}
